::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #8ffbf7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5ba19f;
    width: 20px;
}

.nav_link {
    color: white;
    text-decoration: none;
}

.active {
    color: rgb(0, 242, 255);
    text-decoration: none
}

.App {
    width: 100%;
    height: 100%;
}

/* Home section */

/* sidebar section */
.drawerItems:hover {
    color: rgb(0, 242, 255)
}

button:hover {
    color: rgb(0, 242, 255);
}

.homeContent {
    margin: 50px 0;
}

@media (max-width: 800px) {
    .homeContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
    }
}

@media (max-width: 769px) {
    .homeContent {
        padding: 0;
    }

    .image {
        display: none;
    }
}


/* About Section 79-166*/

.profilePicContent>picture:hover {
    transform: scale(1.05);
}


.headings {
    font-size: 50px;
}

.aboutDescription {
    max-width: 600px;
    text-indent: 15vh;
    font-size: larger;
}

.upArrow {
    padding: 40px;
    margin-right: 40px;
}

.upArrow>a {
    color: white;
}

/* Education section */

.eduTitles>div>a {
    color: #8ffbf7;
    font-size: 1.3em;
}

.eduTitles>div>a:hover {
    color: #3f6d6c;
}

/* Progress section */
.header {
    position: sticky;
    top: 65px;
    z-index: 1;
    width: 100%;
}

.progress-container {
    width: 100%;
    height: 4px;
    background: #ccc;
}

@media (max-width: 600px) {
    .progress-container {
        display: none;
    }
}

.progress-bar {
    height: 4px;
    background: #02f7e3;
    width: 0%;
}

.degree {
    color: #8ffbf7;
    /* font-size: 1.5em; */
    margin: 20px 0;
}

.sizing {
    font-size: 1.25em;
}

/* SocialIons section */
.ions {
    padding: 10px;
    transition: transform 0.75s;
}

.ions:hover {
    border-radius: 60px;
    transform: scale(1.25);
}


/* Skills Section */
.skillsIcons {
    height: 90px;
    width: 90px;
    /* filter: drop-shadow(1rem 1rem 0.25rem #856f82); */
}

.skillsContent {
    padding: 0 20vw;
}

@media (768px < width < 1025px) {
    .skillsContent {
        padding: 0 8vw;
    }
}

@media (width < 800px) {
    .skillsContent {
        padding: 0
    }
}

picture {
    transition: transform 0.75s;
}

picture:hover {
    cursor: pointer;
    transform: scale(1.25);
}

/* Contact Section */
.footerTextColor {
    color: #8ffbf7;
}